{% extends 'base.html' %}

{% block content %}

<h3>Edit Payment</h3>

<form method="POST">

    <!-- Tenant -->
    <label>Tenant</label>
    <select name="tenant_id" class="form-control mb-3" required>
        {% for tenant in tenants %}
        <option value="{{ tenant.id }}" {% if tenant.id == payment.tenant_id %} selected {% endif %}>
            {{ tenant.full_name }}
        </option>
        {% endfor %}
    </select>

    <!-- Amount -->
    <input type="number" name="amount" class="form-control mb-3" value="{{ payment.amount_paid }}" required>

    <!-- Date -->
    <input type="date" name="payment_date" class="form-control mb-3" value="{{ payment.payment_date }}" required>

    <!-- Method -->
    <select name="payment_method" class="form-control mb-3">
        <option value="cash" {% if payment.payment_method=='cash' %}selected{% endif %}>Cash</option>
        <option value="mpesa" {% if payment.payment_method=='mpesa' %}selected{% endif %}>M-Pesa</option>
    </select>

    <!-- M-Pesa -->
    <input type="text" name="mpesa_code" class="form-control mb-3" value="{{ payment.mpesa_code or '' }}">

    <button class="btn btn-success">Update Payment</button>

</form>

{% endblock %}